<div class="row justify-content-start mt-3 align-self-center">
  <nav aria-label="..." class="col-md-5">
    <ul class="pagination">
      <li class="page-item" [class]="+currentParam === 1 ? 'disabled' : ''">
        <span class="page-link" [routerLink]="'/page/' + (+currentParam - 1)"
          >Previous</span
        >
      </li>
      <li routerLinkActive="disabled" class="page-item">
        <a
          queryParamsHandling="merge"
          class="page-link"
          [routerLink]="'/page/' + 1"
          >{{ 1 }}</a
        >
      </li>

      <li
        routerLinkActive="disabled"
        class="page-item"
        *ngFor="
          let pNumber of [].constructor(
            +currentParam > 2 ? (+currentParam < 16 ? 3 : 1) : 2
          );
          let i = index
        "
      >
        <a
          class="page-link"
          queryParamsHandling="merge"
          [routerLink]="
            '/page/' +
            (currentParam > 2 ? currentParam - 1 + i : i + 1 + +currentParam)
          "
          >{{
            currentParam > 2 ? currentParam - 1 + i : i + 1 + +currentParam
          }}</a
        >
      </li>

      <li routerLinkActive="disabled" class="page-item">
        <a
          class="page-link"
          [routerLink]="'/page/' + postsNumbers"
          queryParamsHandling="merge"
          >{{ postsNumbers }}</a
        >
      </li>
      <li
        class="page-item"
        [class]="+currentParam !== +postsNumbers ? '' : 'disabled'"
      >
        <a
          class="page-link"
          [routerLink]="'/page/' + (+currentParam + 1)"
          queryParamsHandling="merge"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
