<section class="d-flex col" class="header-container" *ngIf="user?.name">
  <div class="d-flex align-content-center mt-3 ml-3 align-items-center">
    <img
      src="https://www.w3schools.com/howto/img_avatar.png"
      alt="img_avatar"
      class="img-fluid rounded-circle mr-3 card-img"
      [ngStyle]="{
        maxWidth: '10%',
        height: 'fit-content'
      }"
    />
    <div class="d-flex flex-column justify-content-center">
      <span class=""> Name: {{ user.name }} </span>
      <span class=""> username: {{ user.username }} </span
      ><span class=""> Email: {{ user.email }} </span>
    </div>
  </div>
</section>
