<div class="card h-100 class">
  <app-user-info [userId]="post.userId"></app-user-info>
  <section class="d-flex flex-column justify-content-center col">
    <div class="align-self-start mt-3 font-weight-bolder">
      Title:
      <p class="text col">
        {{ post.title }}
      </p>
    </div>
    <div class="font-weight">
      {{ post.body }}
    </div>
  </section>
  <section class="col mt-3">
    <div class="font-weight-bold">Comments</div>
    <div class="col col-10">
      <div class="row flex-column mt-3" *ngFor="let comment of comments">
        <div class="col">Name: {{ comment.name }}</div>
        <div class="col">Email: {{ comment.email }}</div>
        <div class="col">{{ comment.body }}</div>
      </div>
    </div>
  </section>
</div>
